NEXT_PUBLIC_GOOGLE_SCRIPT_URL=YOUR_GOOGLE_SCRIPT_URL_HERE
NEXT_PUBLIC_WHATSAPP_NUMBER=918938903941
NEXT_PUBLIC_UPI_ID=8938903941-3@ybl
NEXT_PUBLIC_EMAIL=contact@goelastro.com
NEXT_PUBLIC_BRAND_NAME=Goel Astro
